[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
celery = "*"
redis = "*"
django = "*"
amqp = "*"
anyjson = "*"
billiard = "*"
requests = "*"
kombu = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
